#crvena {
    -fx-background-color: red;
}
#plava {
    -fx-background-color: blue;
}
#zelena {
    -fx-background-color: green;
}
.crveniProgress{
    -fx-accent: red;
}
.zeleniProgress{
    -fx-accent: green;
}